<div class="ui inverted segment">
    <div class="ui inverted relaxed divided list">
        {% for item in list %}

        <div class="item">
            <!--<form style="display: none;" class="ui inverted left floated form" action="todos/edit/loop.index0" method="post"> input txt pr edit-->
            <form class="ui inverted left floated form" action="todos/edit/loop.index0" method="post" >
                <div class="ui inverted mini input" style="display: none;" > <!--input txt cache-->
                    <input type="text" name="elements" value="{{ item }}">
                </div>
            </form>

            <div class="ui inverted checkbox" > <!--checkbox devant chq éléments-->
                <input type="checkbox" name="example" id="elementEdit">
                <label class="_element" for="elementEdit" data-index="loop.index0">
                   {{ item }}
                </label>
            </div>

            <a href="todos/delete/loop.index0"> <!--pr bt delete-->
                <span class="ui circular mini icon inverted red button right floated _toEdit"> <!--bt delete-->
                    <i class="ui times icon"></i>
                </span>
            </a>

            <span class="ui circular mini icon inverted button right floated _toEdit"> <!--bt edit-->
                <i class="ui edit icon"></i>
            </span>
        </div> <!--fin item-->

        <!--<a href="{{ path('todos.delete',[loop.index()]) }}"></a>-->

        {% endfor %}


        <div class="item">
            <form class="ui inline inverted form" action="{{ path('todos.add') }}" method="post">

                <div class="two fields _form" style="display: none">
                    <textarea placeholder="Saisir vos éléments sur chaque ligne" name="elements" rows="5"></textarea>
                    <button class="ui mini green icon button"><i class="ui check circle outline icon"></i></button> <!-- bt validation saisie multiple-->
                </div>
                <div class="field _form">
                    <input placeholder="Nouvel élément" name="element">
                </div>
            </form>
        </div> <!--fin item-->


    </div>
</div>

{{ script_foot | raw }} <!-- var qui permet de récup le code côté client généré
raw :permet de ne pas être protégé par le HTML entities-->