<div class="ui secondary inverted menu">
    <a href="{{  path('todos.home') }}" class="active item">Accueil</a>
    <a href="{{  path('todos.new') }}" class="item">Nouvelle liste</a>
    <a href="{{  path('todos.save') }}" class="item _saveList" style="display: none;">Sauvegarder liste</a>
    <div class="right menu">
        <div class="item">
            <div class="ui inverted toggle checkbox _multiple">
                <input type="checkbox" id="multiple">
                <label for="multiple">Saisie multiple</label>
            </div>
            <div class="ui action input">
                <input type="text" placeholder="List id">
                <button class="ui button">Ouvrir</button>
            </div>

        </div>
    </div>
</div>
