<div class="ui secondary inverted menu">
    <a href="{{  path('todos.home') }}" class="active item">Accueil</a>
    <a href="{{  path('todos.new') }}" class="active item">Nouvelle liste</a>
    <div class="right menu">
        <div class="item">
            <div class="ui inverted toggle checkbox _multiple">
                <input type="checkbox" id="multiple">
                <label for="multiple">Saisie multiple</label>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input type="search" placeholder="insert list id" name="searchbar" id="searchbar" class="form-control mr-sm-2">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
