
<div class="twelve wide stretched column" id="section-details">
    <div class="ui attached green segment">
        <div class="ui divided list">
            <div class="item">
                <a class="ui teal basic floated button" href="{{ path('home') }}" >Tableau de bord</a>
                <a href="{{ path('store') }}" class="ui basic olive button">Parcourir le store</a>
            </div>
        </div>
    </div>
</div>

<div class="ui attached segment">
    Le produit a bien été supprimé !
</div><br>