<div class="ui attached segment"><i class="cart plus icon"></i>
    Vos paniers
</div><br>

<div class="twelve wide stretched column" id="section-details">
    <div class="ui attached green segment">
        <div class="ui divided list">
            <div class="item">
                <a class="ui teal basic floated button" href="{{ path('home') }}" >Tableau de bord</a>
                <a href="{{ path('store') }}" class="ui basic olive button">Parcourir le store</a>
            </div>
        </div>
    </div>
</div>

<div class="ui attached green segment">
    <table class="ui striped table">
        <thead>
        <tr>
            <th>Date de Création</th>
            <th>Produits</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ basket.dateCreation }}</td>

            {% for bd in basket.basketdetails %}
                <td>
                    <li>
                        <a href="{{ path('product', [basket.id, bd.product.id]) }}">
                            {{ bd.product.name }}
                        </a>
                    </li>
                </td>
                <td>
                    {{ bd.quantity }}
                </td>
                <td>
                    {{ bd.product.price }} €
                </td>


            <td>
                <a href="{{ path('editProduct', [basket.id, bd.product.id]) }}" class="tiny basic ui olive button"><i class="edit icon"></i></a>
                <a href="{{ path('deleteProduct', [basket.id, bd.product.id]) }}" class="tiny basic ui olive basic button"><i class="trash alternate icon"></i></a>
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>