<div class="ui attached segment"><i class="cart plus icon"></i>
    {{ section.name }}
    <a class="ui teal right floated button" href="{{ path('store') }}" >Retour au store</a>
</div><br>

<div class="twelve wide stretched column">
    <div class="ui segment" id="section-details">
        <div  class="ui one column grid">
            <div class="column">
                <div  class="ui grid">

                    <div class="eight wide column">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>