<div class="ui attached segment"><i class="cart plus icon"></i>
    {{ section.name }}
    <a class="ui teal right floated button" href="{{ path('store') }}" >Retour au store</a>
</div><br>

<div class="twelve wide stretched column">
    <div class="ui segment" id="section-details">
        <div  class="ui one column grid">
            <div class="column">
                <div  class="ui grid">

                    <div class="eight wide column">
                        <div class="ui large image">
                            <img src="public/assets/img/{{product.image}}.jpg"/>
                        </div> <br>
                    </div>

                    <div class="eight wide column">
                        <a class="item">{{ product.name }}</a><br>
                        <a class="item">{{ product.price }} €</a><br>
                        <a href="{{ path(add.basket, [product.id]) }}" class="tiny ui teal button"><i class="shopping basket icon"></i>Panier</a>
                        <a href="{{ path(addTo.basket, [basket.id,product.id]) }}" class="tiny ui teal basic button"><i class="shopping basket icon"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div  class="ui one column grid">
            <div class="column">
                <div class="ui attached segment"><i class="bookmark icon"></i> Commentaires :</div>
                <div class="ui attached blue segment">
                    <div class="ui divided list">
                        <div class="item">
                            {{ product.comments }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>