<a href="{{ path('main.testAjax') }}" class="ui button" data-target="#response">
    Test Ajax
</a>
<a href="{{ path('groups.list') }}" class="ui black button" data-target="#response">Liste des organisations</a>
<div id="response" class="ui segment"></div>


<a href="{{ path('new.user') }}" class="ui basic olive button" data-target="#new-user">
    <i class="plus icon"></i> Ajouter un utilisateur...
</a>
<div id="new-user" style="margin-top: 3px"></div>

<a href="{{ path('new.user') }}" class="ui basic olive button" data-target="#new-user">
    <i class="plus icon"></i> Ajouter des utilisateurs...
</a>
<div id="new-user" style="margin-top: 3px"></div>

{{ script_foot | raw }}