<div class="ui olive segment">
    <div class="ui two columns grid">
        <div class="column">
            <div class="ui header">
                <div class="content">
                    <div class="header">Menu</div>
                    <div class="item">{{ _userInfo|raw }}</div>
                </div>
            </div>
        </div>
        <div class="column right aligned">
            <div class="ui green button">User Info</div>
        </div>
    </div>
</div>


<!--<div class="ui olive segment">
    <div class="ui two columns grid">
        <div class="column">
            <div class="ui header">
                <a class="ui button green basic" href="{{ path('myAuth.index') }}" data-target="#page-container">Connection</a>
                <i class="ui user icon"></i>
                <div class="content">
                    {{ user.name }}
                    <div class="sub header">User</div>
                </div>
            </div>
        </div>
    </div>
</div>-->

{{ script_foot|raw }}